    <!-- template -->

    <div class="form-group"
        [class.has-feedback]="options.hasFeedback"
        [class.has-success]="options.hasSuccess"
        [class.has-warning]="options.hasWarning"
        [class.has-error]="options.hasError"
    >


        <!-- label -->

        <label
            class="control-label col-sm-3"
            title="{{options.label}}">
            {{options.label}}
            <i ng-if="::$ctrl.isFieldRequired"
               class="fa fa-star"
               style="font-size: 60%; position: absolute; margin: 1px 0 0 2px;">
            </i>
        </label>

        <div class="col-sm-9">
            <tf-merge-group-input [options]="options"></tf-merge-group-input>

            <button
                ng-if="::$ctrl.editModalName !== undefined && !$ctrl.isInConfigMode"
                type="button"
                class="btn btn-default btn-xs edit-button"
                ng-click="$ctrl.openEditModal()">
                <span class="fa fa-pencil-square-o"></span>
                Edit
            </button>

            <!-- feedback icon -->

            <span ng-if="$ctrl.hasFeedback">
                <span
                    *ngIf="options.hasSuccess"
                    class="form-control-feedback glyphicon glyphicon-ok">
                </span>
                <span
                    *ngIf="options.hasWarning"
                    class="form-control-feedback glyphicon glyphicon-warning-sign">
                </span>
                <span
                    *ngIf="options.hasError"
                    class="form-control-feedback glyphicon glyphicon-remove">
                </span>
            </span>
        </div>

    </div>
