<tf-panel>
    <div title>
        Task
    </div>
    <tf-form>
        <tf-merge-group
            [options]="tfMergeGroupOptions['transport.taskTypeId']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['statusId']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['narrative']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['icd10Code01']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['icd10Code02']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['icd10Code03']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['icd10Code04']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['icd10Code05']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['shouldBeInvoiced']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['shouldNotBeInvoicedReason']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['billingZoneId']"
            (fieldChanged)="fieldChanged.emit($event)"
        ></tf-merge-group>
    </tf-form>
</tf-panel>
