<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <tf-panel>
                <div title>
                    Task
                </div>
                <tf-form>
                    <tf-merge-group [options]="tfMergeGroupOptions['transport.taskTypeId']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['statusId']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['narrative']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['icd10Code01']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['icd10Code02']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['icd10Code03']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['icd10Code04']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['icd10Code05']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['shouldBeInvoiced']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['shouldNotBeInvoicedReason']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['billingZoneId']"></tf-merge-group>
                </tf-form>
            </tf-panel>
        </div>
        <div class="col-md-6">
            <!--<tf-panel>
                <div title>
                    Patient
                </div>
                <tf-form>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.firstName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                    <tf-merge-group [options]="tfMergeGroupOptions['patient.lastName']"></tf-merge-group>
                </tf-form>
            </tf-panel>-->
        </div>
    </div>
</div>
