<tf-panel>
    <div title>HIPAA</div>
    <tf-form>
        <tf-merge-group
            [options]="tfMergeGroupOptions['transport.hipaaDeliveryId']">
        </tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['transport.hipaaDeliveryDate']">
        </tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['transport.hipaaDeliveryRelationshipId']">
        </tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['transport.hipaaDeliveryRelationshipName']">
        </tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['transport.hipaaAcknowledgementId']">
        </tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['transport.hipaaAcknowledgementDate']">
        </tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['transport.hipaaAcknowledgementRelationshipId']">
        </tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['transport.hipaaAcknowledgementRelationshipName']">
        </tf-merge-group>
        <tf-merge-group
            [options]="tfMergeGroupOptions['transport.hipaaComment']">
        </tf-merge-group>
    </tf-form>
</tf-panel>
