<input type="text"
    class="form-control"
    placeholder="placeholder"
>

<!--<input type="{{::$ctrl.tfMergeGroup.isWholeNumber() ? 'number' : 'text'}}"
    class="form-control {{::$ctrl.tfMergeGroup.field}}"
    placeholder="{{::$ctrl.getPlaceHolder()}}"
    ng-focus="$ctrl.tfMergeGroup.onFocus()"
    ng-blur="$ctrl.tfMergeGroup.onBlur()"
    ng-model="$ctrl.getSetField"
    ng-model-options="{ getterSetter: true }"
    ng-disabled="::$ctrl.tfMergeGroup.isReadOnly()"
    uib-tooltip-html="$ctrl.tfMergeGroup.tooltipMessageHtml"
    tooltip-placement="top"
    tooltip-trigger="'mouseenter focus'"
    tooltip-enable="$ctrl.tfMergeGroup.tooltipMessageHtml"
    uib-typeahead=
        "x.id as x.name for x in ::$ctrl.getTypeaheadItems() | filter:$viewValue:matchAll"
    typeahead-template-url=
        "../../Modules/BillingModule/app/tasks/components/taskForm/tfMergeGroupItem.html"
    typeahead-popup-template-url=
        "../../Modules/BillingModule/app/tasks/components/taskForm/tfMergeGroupPopup.html"
    typeahead-min-length="0"
    typeahead-focus-first="false"
    typeahead-focus-on-select="false"
    typeahead-input-formatter="$ctrl.tfMergeGroup.inputFormatter($model)"
    tf-merge-group-typeahead-extension
>-->
