<div id="billingModuleMainPage" class="billing">
    <div class="toolbar">
        <div name="lefttoolbar" class="lefttoolbar"></div>
        <div class="breadcrumtoolbar toolbar-item">
            <div class="breadcrumtoolbar toolbar-item">
                <ol class="breadcrumb ng-isolate-scope">
                    <li>
                        <a routerLink="/queues">Billing</a>
                    </li>
                    <li>
                        <a routerLink="/task">Task</a>
                    </li>
                    <li>
                        <a routerLink="/config/billing-zones">Billing Zones</a>
                    </li>
                </ol>
            </div>
        </div>
        <div name="righttoolbar" class="righttoolbar"></div>
    </div>
    <div class="user-messages"></div>
    <router-outlet class="main"></router-outlet>
</div>
