<div id="billingModuleMainPage" class="billing">
    <div class="row margin-bottom-1em">

        <!-- Breadcrumbs -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div ncy-breadcrumb></div>
        </div>

        <!-- User Messages -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--<user-messages></user-messages>-->
        </div>

        <!-- Left Toolbar -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <!--<ui-view name="lefttoolbar"></ui-view>-->
        </div>


        <!-- Right Toolbar -->
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="pull-right">
                <!--<ui-view name="righttoolbar"></ui-view>-->
            </div>
        </div>
    </div>

    <!-- Main content -->
    <!--<ui-view></ui-view>-->

</div>
