<div *ngIf="taskMode !== 'config'" class="pull-right">
    <div class="btn-group"
            *ngIf="tasksLookups.length"
            uib-dropdown>
        <button type="button"
                class="btn btn-default related-tasks-button"
                uib-dropdown-toggle>
            <i class="fa fa-fw fa-link"></i>
            Related Tasks
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu related-tasks-list" uib-dropdown-menu>
            <li ng-repeat="t in ::$ctrl.tasksLookups">
                <a class="related-task-link"
                    ng-click="$ctrl.taskShell.goToTask(t.id)">
                    {{nameFormatted}}
                </a>
            </li>
        </ul>
    </div>
    <button id="cancelNewTask"
            class="btn btn-default"
            ng-click="$ctrl.taskShell.cancel()">
        <i class="fa fa-chevron-left"></i>
        Back
    </button>
    <button id="saveAndCloseTaskButton"
            class="btn btn-primary"
            ng-click="$ctrl.taskShell.saveTask(true)">
        <i class="fa fa-save"></i>
        Save and Back
    </button>
</div>

<div *ngIf="taskMode === 'config'">
    <div class="pull-right">
        <button class="btn btn-default field-configuration"
                ng-disabled="!$ctrl.taskShell.selectedField"
                ng-click="$ctrl.taskShell.openFieldConfigurationModal()">
            <i class="fa fa-cog"></i>
            Field Configuration
        </button>
        <a
           id="backToBillingMainPageLink"
           class="btn btn-primary back"
           ng-click="$ctrl.taskShell.cancel()">
            <i class="fa fa-chevron-left"></i>
            Back
        </a>
    </div>
</div>
